<section
  class="
    relative
    container
    flex
    flex-column
    justify-content-center
    gap-4
    py-4
    my-6
    gradient-dark-to-light
    border-1
    border-round-2xl
    border-primary
    box-shadow-primary-lg">
  <div class="flex flex-column box-shadow-primary-sm border-round-2xl">
    <header class=" surface-900 border-1 border-bottom-none border-noround-bottom border-round-2xl border-primary pb-2">
      <p-breadcrumb [model]="breadcrumbItems" [home]="home" class="ml-0"></p-breadcrumb>
      <div class="flex flex-column px-3">
        <div class="header-image flex justify-content-start align-items-start gap-2">
          <p-image class="region-logo" src="assets/img/game-entities/regions-orange.png" alt="AGT Logo" class="mt-2" width="40"/>
          <h1 class="mb-0 uppercase">GALACTIC REGIONS terminal</h1>
        </div>
      </div>

    </header>
    <div class="terminal bg-black-alpha-90 header-menu gap-4 border-3 border-double border-round-bottom-2xl border-green p-4">
      <form [formGroup]="galaxyForm">
        <div class="">
          <div class="">
            <div class="flex flex-column gap-4">
              <agt-terminal-communication
                (typingDone)="statusUpdateComplete($event)"
                [hideCursor]="hasInitialStatusText"
                [message]="terminalText">
              </agt-terminal-communication>

              @if (hasInitialStatusText) {
                <div class="flex flex-column gap-2">
                  <agt-terminal-communication
                    (typingDone)="searchingGalaxyTypingComplete($event)"
                    [hideCursor]="isGalaxySelected"
                    [message]="selectGalaxyTest">
                  </agt-terminal-communication>

                  @if (hasSelectGalaxyText) {
                    <p-select formControlName="galaxy" input_id="galaxy" [options]="galaxyTypes"
                              placeholder="{{galaxySelectPlaceholder}}" fluid="true"/>
                  }
                </div>
              }

              @if (isGalaxySelected) {
                <div class="flex flex-column gap-2">
                  <agt-terminal-communication
                    (typingDone)="selectSearchFieldsTypingComplete($event)"
                    [hideCursor]="hasSelectedSearchFields"
                    [message]="selectSearchFieldsText"></agt-terminal-communication>
                  @if (hasSelectSearchFieldsText) {
                    <p-multiselect
                      formControlName="searchFields"
                      input_id="searchFields"
                      [options]="availableSearchFields"
                      placeholder="{{searchFieldsPlaceholder}}"
                      class="select"
                      fluid="true"></p-multiselect>
                  }
                </div>
              }

              <div class="flex flex-wrap justify-content-start">
                <div class="flex flex-wrap gap-2 w-full custom-input-group">
                  @if (selectedSearchFields.includes('Region Name')) {
                    <input pInputText id="name" formControlName="name" type="text" placeholder="Region Name:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Surveyed By')) {
                    <input pInputText id="surveyedBy" formControlName="surveyedBy" type="text"
                           placeholder="Surveyed By:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Discovered By')) {
                    <input pInputText id="discoveredBy" formControlName="discoveredBy" type="text"
                           placeholder="Discovered By:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Civilization')) {
                    <input pInputText id="civilization" formControlName="civilization" type="text"
                           placeholder="Civilization:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Game Release')) {
                    <input pInputText id="gameRelease" formControlName="gameRelease" type="text"
                           placeholder="Game Release:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Game Mode')) {
                    <input pInputText id="gameMode" formControlName="gameMode" type="text" placeholder="Game Mode:"
                           variant="filled"/>
                  }

                  @if (selectedSearchFields.includes('Game Platform')) {
                    <input pInputText id="gamePlatform" formControlName="gamePlatform" type="text"
                           placeholder="Game Platform:"
                           variant="filled"/>
                  }

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- Terminal Nano-style Footer -->
      <div class="terminal-footer mt-4 pt-2 border-double border-x-none border-bottom-none border-green-900 flex flex-wrap gap-4">
        @if (hasInitialStatusText && isGalaxySelected) {
          <a (click)="search()" class="terminal-link">
            SEARCH_REGIONS
          </a>
          <a (click)="clearSearchValues()" class="terminal-link">
            CLEAR_FORM
          </a>
        }
        <a [routerLink]="['./region']" class="terminal-link">
          REGISTER_NEW_REGION
        </a>
        <div class="terminal-version ml-auto opacity-50 text-xs pt-1">
          v16.16.16-AGT
        </div>
      </div>
    </div>
  </div>

  @if (regions.length > 0) {
    <div class="box-shadow-primary-sm border-1 border-primary border-round-2xl p-4">
      @if (!isLoading) {
        <div class="card-grid">
          @for (region of regions; track region) {
            <p-card class="relative max-w-25rem overflow-hidden border-2 border-round-lg border-primary region-card">
              <ng-template #header>
                <div class="flex flex-column">
                  <div class="infobox-header">
                    <h3 class="text-primary text-uppercase text-center mb-2 kern-text">{{ region.regionName }}</h3>
                  </div>
                  <div class="infobox-image border-top-1 border-bottom-2 border-primary h-16rem overflow-hidden">
                    <img alt="RegionName" class="infobox-img-fixed w-full h-full" ngSrc="assets/img/mock/mock-region.png" width="486"
                         height="363" priority/>
                  </div>
                </div>
              </ng-template>

              <div class="infobox-grid text-0 border-1 border-white-alpha-20 wiki-infobox">
                <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Galaxy</div>
                  <div class="col-7 p-2">{{ region.regionName }}</div>
                </div>
                <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Quadrant</div>
                  <div class="col-7 p-2 text-green-400">{{ region.galacticQuadrant }}</div>
                </div>
                <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Galactic
                    coords
                  </div>
                  <div class="col-7 p-2 font-monospace text-xs text-blue-300">{{ region.galacticCoordinates }}</div>
                </div>
                <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Civilization
                  </div>
                  <div class="col-7 p-2 text-xs">{{ region.civilization }}</div>
                </div>
                <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Center
                    distance
                  </div>
                  <div class="col-7 p-2">{{ region.lightYearsFromCenter | number }}</div>
                </div>
                <div class="grid grid-nogutter">
                  <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Updated</div>
                  <div class="col-7 p-2 text-green-200">{{ region.gameRelease }}</div>
                </div>
              </div>
              <ng-template #footer>
                <div class="flex justify-content-center mt-2">
                  <p-button
                    [routerLink]="[`./region/${region.regionId}`]"
                    label="View Entry"
                    raised="true"
                    icon="pi pi-arrow-right"
                    iconPos="right"/>
                </div>
              </ng-template>
            </p-card>
          }
        </div>
      } @else {
        <div class="py-8 flex justify-content-center align-items-center">
          <img src="assets/img/loading-spinner.gif" alt="Loading regions..."/>
        </div>
      }
    </div>
  }
</section>
