<header class="section container">
  <div class="flex justify-content-start align-items-center">
    <p-image src="assets/img/game-entities/regions-orange.png" alt="AGT Logo" class="mt-1" width="40"/>
    <h1 class="my-0 ml-1 mr-2">GALACTIC REGIONS</h1>
    <p class="sub-header">>_ARCHIVE DATA FEED // STATUS: ONLINE...</p>
  </div>

  <div class="flex justify-content-between align-items-center mb-1">
    <div class="flex justify-content-start align-items-center">
      <label class="mr-2">SELECT GALAXY</label>
      <form [formGroup]="galaxyForm">
        <p-select formControlName="galaxy" [options]="galaxyTypes" [fluid]="true" class="select"/>
      </form>
    </div>
    <p-button
      variant="outlined"
      label="Register New Region"
      raised="true"
      class="button"/>
  </div>
</header>
<div class="section container">
  <div class="card-grid">
  </div>
  @if (!isLoading) {
    <div class="card-grid">
      @for (region of regions; track region) {
        <p-card class="region-card">
          <ng-template #header>
            <div class="flex flex-column">
              <div class="infobox-header">
                <h3 class="text-uppercase text-center mb-2 kern-text">{{ region.regionName }}</h3>
              </div>
              <div class="infobox-image overflow-hidden">
                <img alt="RegionName" class="infobox-img-fixed" ngSrc="assets/img/mock/mock-region.png" width="100"
                     height="100"/>
              </div>
            </div>
          </ng-template>

          <div class="infobox-grid border-1 border-white-alpha-20 wiki-infobox">
            <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Galaxy</div>
              <div class="col-7 p-2">{{ region.regionName }}</div>
            </div>
            <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Quadrant</div>
              <div class="col-7 p-2 text-green-400">{{ region.galacticQuadrant }}</div>
            </div>
            <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Galactic coords
              </div>
              <div class="col-7 p-2 font-monospace text-xs text-blue-300">{{ region.galacticCoordinates }}</div>
            </div>
            <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Civilization</div>
              <div class="col-7 p-2 text-xs">{{ region.civilization }}</div>
            </div>
            <div class="grid grid-nogutter border-bottom-1 border-white-alpha-20">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Center distance
              </div>
              <div class="col-7 p-2">{{ region.lightYearsFromCenter | number }}</div>
            </div>
            <div class="grid grid-nogutter">
              <div class="col-5 p-2 font-bold bg-white-alpha-10 border-right-1 border-white-alpha-20">Updated</div>
              <div class="col-7 p-2 text-green-200">{{ region.gameRelease }}</div>
            </div>
          </div>
          <ng-template #footer>
            <div class="flex justify-content-center mt-2">
              <p-button
                [routerLink]="[region.regionId]"
                variant="outlined"
                label="View Entry"
                raised="true"
                icon="pi pi-arrow-right"
                iconPos="right"
                class="button"/>
            </div>
          </ng-template>
        </p-card>
      }
    </div>
  } @else {
    <div class="py-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</div>
