<section class="relative container flex flex-column justify-content-center
    gap-4 py-4 my-6
    gradient-dark-to-light box-shadow-primary-lg
    border-1 border-round-2xl border-primary">
  <div class="flex flex-column box-shadow-primary-sm border-round-2xl">
    <header class=" surface-900 border-1 border-bottom-none border-noround-bottom border-round-2xl border-primary pb-2">
      <p-breadcrumb [model]="breadcrumbItems" [home]="home" class="ml-0"></p-breadcrumb>

      <div class="flex justify-content-between align-items-center">
        <div class="flex flex-column px-3">
          <div class="header-image flex justify-content-start align-items-start gap-2">
            <p-image class="region-logo mt-2"
                     src="assets/img/game-entities/regions-orange.png"
                     alt="AGT Logo"
                     width="40"/>
            <h1 class="text-uppercase">
              {{ regionId ? (isReadOnly ? 'Region Archive' : 'Edit Region') : 'Register New Region' }}
            </h1>
          </div>
        </div>

        <div class="mr-4">
          @if (true //regionId && isReadOnly) {
            <p-button label="Edit Entry" icon="pi pi-pencil" (click)="toggleEdit()" severity="warn"/>
          } @else if (regionId && !isReadOnly) {
            <p-button label="Cancel" icon="pi pi-times" (click)="toggleEdit()" severity="secondary"/>
          }
        </div>

      </div>
    </header>
    <div [ngClass]="isReadOnly ? 'border-red' : 'border-green'"
         class="terminal bg-black-alpha-90
          border-3 border-double border-round-bottom-2xl
          gap-4 p-4">

      <form [formGroup]="regionForm">
        <div class="flex flex-column gap-2">

          <!--Initial Status Text-->
          <agt-terminal-communication
            (typingDone)="initialStatusTypingComplete($event)"
            [typingSpeed]="5"
            [success]="!isReadOnly"
            [message]="consoleText">
          </agt-terminal-communication>

          <!--Galaxy Selection-->
          @if (true //hasInitialStatusText) {
            <agt-terminal-communication
              (typingDone)="requiredWarningTypingComplete($event)"
              [typingSpeed]="5"
              [success]="false"
              [message]="requiredWarning">
            </agt-terminal-communication>
          }

          <!--Galaxy Select-->
          @if (true //hasRequiredWarningText) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Galaxy)"
                  [typingSpeed]="25"
                  [message]="selectGalaxyText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.Galaxy]) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column lg:flex-row gap-2">
                    <div class="flex-grow-1">
                      <span class="text-secondary">*</span>
                      <p-select
                        [fluid]="true"
                        formControlName="galaxy"
                        placeholder="{{galaxySelectPlaceholder}}"
                        [options]="galaxyTypes"/>
                    </div>
                    @if (true //activeFormField === FormFields.Galaxy) {
                      <div class="flex-initial text-right white-space-nowrap align-content-end">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Region Name-->
          @if (true //activeFormFields.includes(FormFields.RegionName)) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.RegionName)"
                  [typingSpeed]="25"
                  [message]="regionNameText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.RegionName]) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <span class="text-secondary">*</span>
                      <input pInputText id="regionName"
                             formControlName="regionName"
                             placeholder="{{regionNamePlaceholder}}"
                             variant="filled"
                             [fluid]="true"
                             type="text"/>
                    </div>
                    @if (true //activeFormField === FormFields.RegionName) {
                      <div class="flex-initial white-space-nowrap align-content-end">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Survey Info-->
          @if (true //activeFormFields.includes(FormFields.SurveyInfo)) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.SurveyInfo)"
                  [typingSpeed]="25"
                  [message]="surveyInfoText" class="">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.SurveyInfo]) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column lg:flex-row gap-2">
                    <div class="flex-grow-1">
                      <div class="flex flex-column lg:flex-row gap-4">
                        <div class="flex-1 min-w-min">
                          <span class="text-secondary">*</span>
                          <input pInputText id="surveyedBy"
                                 class="min-w-max"
                                 formControlName="surveyedBy"
                                 placeholder="{{surveyedByPlaceholder}}"
                                 variant="filled"
                                 [fluid]="true"
                                 type="text"/>
                        </div>
                        <div class="flex-1 min-w-min">
                          <span class="text-secondary">*</span>
                          <p-datepicker
                            #datepicker
                            formControlName="surveyDate"
                            placeholder="{{surveyDatePlaceholder}}"
                            class="min-w-max z-3"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            [iconDisplay]="'input'"
                            [fluid]="true"
                            [showIcon]="true"
                            (keydown.enter)="datepicker.toggle()"
                            (keydown.space)="datepicker.toggle()"></p-datepicker>
                        </div>
                      </div>
                    </div>
                    @if (true //activeFormField === FormFields.SurveyInfo) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Galactic Coordinates-->
          @if (true //activeFormFields.includes(FormFields.GalacticCoordinates)) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-4 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.GalacticCoordinates)"
                  [typingSpeed]="25"
                  [message]="galacticCoordinatesText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.GalacticCoordinates]) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column gap-2">
                    <div class="flex-1">
                      <p-accordion
                        [ngClass]="{'invalid-terminal-field': galacticCoordinatesControl.invalid && galacticCoordinatesControl.dirty && galacticCoordinatesControl.touched}">
                        <p-accordion-panel value="0">
                          <p-accordion-header>Galactic Coordinates Instructions - READ CAREFULLY</p-accordion-header>
                          <p-accordion-content>
                            You obtain galactic coordinates by placing a SIGNAL BOOSTER on any planet or moon in a
                            system.
                            You
                            <span class="text-green-light font-bold">MUST</span>
                            provide galactic coordinates for this form.<br/><br/>
                            AAAA:BBBB:CCCC:xxxx are galactic coordinates When you drop a signal booster on a planet,
                            <span class="text-green-light font-bold">IGNORE AND DO NOT ENTER</span>
                            the first set of 4-5 characters. Enter the four sets of characters until
                            <span class="text-green-light font-bold">AFTER</span>
                            the first colon (:).<br/><br/>
                            Galactic Coordinates will
                            <span class="text-green-light font-bold">NEVER</span>
                            have a letter 'O", only the numeral Zero ('0'). Please type correctly.<br/><br/>
                            If you only have the glyphs for the system, go to this
                            <a href="https://nmsportals.github.io/" target="_blank">webtool</a>
                            to convert them into galactic coordinates.
                            <div class="border-1 border-green pb-0">
                              <p-image
                                class="terminal-image"
                                src="assets/img/menus/terminal-noisy-galactic-coordinate-display.png"
                                alt="Coordinates Display"
                                width="100%"></p-image>
                            </div>
                          </p-accordion-content>
                        </p-accordion-panel>
                      </p-accordion>
                    </div>
                    <div class="flex-1">
                      <div class="flex flex-column lg:flex-row gap-2">
                        <div class="flex-grow-1">
                          <label for="surveyedBy" class="text-secondary">*</label>
                          <input pInputText id="galacticCoordinates"
                                 formControlName="galacticCoordinates"
                                 placeholder="{{galacticCoordinatesPlaceholder}}"
                                 variant="filled"
                                 [fluid]="true"
                                 type="text"/>
                        </div>
                        @if (true //activeFormField === FormFields.GalacticCoordinates) {
                          <div class="flex-initial white-space-nowrap align-content-end text-right">
                            <a (click)="!isNextDisabled && nextField()"
                               (keydown.enter)="!isNextDisabled && nextField()"
                               (keydown.space)="!isNextDisabled && nextField()"
                               [class.opacity-50]="isNextDisabled"
                               [class.cursor-not-allowed]="isNextDisabled"
                               [attr.tabindex]="isNextDisabled ? -1 : 0"
                               class="terminal-link">
                              // NEXT //
                            </a>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          <!--Legacy Name-->
          @if (true //activeFormFields.includes(FormFields.LegacyName)) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.LegacyName)"
                  [typingSpeed]="25"
                  [message]="legacyNameText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.LegacyName]) {
                <div class="flex-2 md:w-8 mt-2">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input pInputText id="legacyName"
                             formControlName="legacyName"
                             placeholder="{{legacyNamePlaceholder}}"
                             variant="filled"
                             [fluid]="true"
                             type="text"/>
                    </div>
                    @if (true //activeFormField === FormFields.LegacyName) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Region Age-->
          @if (true //activeFormFields.includes(FormFields.RegionAge)) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.RegionAge)"
                  [typingSpeed]="25"
                  [message]="regionAgeText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.RegionAge]) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <p-inputnumber
                        inputId="regionAge"
                        formControlName="regionAge"
                        placeholder="{{regionAgePlaceholder}}"
                        variant="filled"
                        [fluid]="true"
                        mode="decimal">
                      </p-inputnumber>
                    </div>
                    @if (true //activeFormField === FormFields.RegionAge) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Civilization Claim-->
          @if (true //activeFormFields.includes(FormFields.Civilization)) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Civilization)"
                  [typingSpeed]="25"
                  [message]="civilizationText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.Civilization]) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input pInputText id="civilization"
                             formControlName="civilization"
                             placeholder="{{civilizationPlaceholder}}"
                             variant="filled"
                             [fluid]="true"
                             type="text"/>
                    </div>
                    @if (true //activeFormField === FormFields.Civilization) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Phantom System-->
          @if (true //activeFormFields.includes(FormFields.PhantomSystem)) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-5">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.PhantomSystem)"
                  [typingSpeed]="10"
                  [message]="phantomSystemText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.PhantomSystem]) {
                <div class="flex-2 lg:w-7">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input pInputText id="lowestKnownPhantomSystem"
                             formControlName="lowestKnownPhantomSystem"
                             placeholder="{{phantomSystemPlaceholder}}"
                             variant="filled"
                             [fluid]="true"
                             type="text"/>
                    </div>
                    @if (true //activeFormField === FormFields.PhantomSystem) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Game Info-->
          @if (true //activeFormFields.includes(FormFields.GameInfo)) {
            <div class="flex flex-column gap-2">
              <div class="flex-1 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.GameInfo)"
                  [typingSpeed]="25"
                  [message]="gameInfoText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.GameInfo]) {
                <div class="flex-1">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <div class="flex flex-column md:flex-row gap-4">
                        <div class="flex-1 align-content-end">
                          <label for="gameRelease" class="text-secondary">*</label>
                          <p-select
                            [fluid]="true"
                            id="gameRelease"
                            optionLabel="name"
                            optionValue="gameReleaseId"
                            formControlName="gameRelease"
                            placeholder="{{gameReleasePlaceholder}}"
                            [options]="gameReleases"/>
                        </div>
                        <div class="flex-1 align-content-end">
                          <p-select
                            [fluid]="true"
                            formControlName="gamePlatform"
                            placeholder="{{gamePlatformPlaceholder}}"
                            [options]="gamePlatformTypes"/>
                        </div>
                        <div class="flex-1 align-content-end">
                          <p-select
                            [fluid]="true"
                            formControlName="gameMode"
                            placeholder="{{gameModePlaceholder}}"
                            [options]="gameModeTypes"/>
                        </div>
                      </div>
                    </div>
                    @if (true //activeFormField === FormFields.GameInfo) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Notes-->
          @if (true //activeFormFields.includes(FormFields.Notes)) {
            <div class="flex flex-column gap-2">
              <div class="flex-1 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Notes)"
                  [typingSpeed]="25"
                  [message]="notesText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.Notes]) {
                <div class="flex-1">
                  <div class="flex flex-column gap-2 justify-content-end">
                    <div class="flex-1">
                      <div class="flex flex-column">
                        <div class="flex-1 align-content-end">
                          <textarea
                            pTextarea id="summaryNotes"
                            placeholder="{{summaryNotesPlaceholder}}"
                            formControlName="summaryNotes"
                            [fluid]=true
                            style="resize: none"
                            rows="6"></textarea>
                        </div>
                        <div class="flex-1">
                          <div class="flex flex-column lg:flex-row gap-2 mt-2">
                            <div class="flex-1 align-content-end">
                              <textarea
                                pTextarea id="locationNotes"
                                placeholder="{{locationNotesPlaceholder}}"
                                formControlName="locationNotes"
                                [fluid]=true
                                style="resize: none"
                                rows="6"></textarea>
                            </div>
                            <div class="flex-1 align-content-end">
                              <textarea
                                pTextarea id="civilizedSpaceNotes"
                                placeholder="{{civilizedSpaceNotesPlaceholder}}"
                                formControlName="civilizedSpaceNotes"
                                [fluid]=true
                                style="resize: none"
                                rows="6"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    @if (true //activeFormField === FormFields.Notes) {
                      <div class="flex-1 white-space-nowrap text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Links-->
          @if (true //activeFormFields.includes(FormFields.Links)) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Links)"
                  [typingSpeed]="25"
                  [message]="linksText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.Links]) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column gap-2">
                    <div class="flex-1">
                      <div class="flex flex-column lg:flex-row gap-4">
                        <input pInputText id="wikiLink"
                               formControlName="wikiLink"
                               placeholder="{{wikiLinkPlaceholder}}"
                               variant="filled"
                               [fluid]="true"
                               type="text"/>
                        <input pInputText id="legacyWikiLink"
                               formControlName="legacyWikiLink"
                               placeholder="{{legacyWikiLinkPlaceholder}}"
                               variant="filled"
                               [fluid]="true"
                               type="text"/>
                      </div>
                      <div class="flex flex-column md:mt-4 lg:flex-row gap-4">
                        <input pInputText id="externalLink"
                               formControlName="externalLink"
                               placeholder="{{externalLinkPlaceholder}}"
                               variant="filled"
                               [fluid]="true"
                               type="text"/>
                        <input pInputText id="videoLink"
                               formControlName="videoLink"
                               placeholder="{{videoLinkPlaceholder}}"
                               variant="filled"
                               [fluid]="true"
                               type="text"/>
                      </div>
                    </div>
                    @if (true //activeFormField === FormFields.Links) {
                      <div class="flex-1 white-space-nowrap text-right">
                        <a (click)="!isNextDisabled && nextField()"
                           (keydown.enter)="!isNextDisabled && nextField()"
                           (keydown.space)="!isNextDisabled && nextField()"
                           [class.opacity-50]="isNextDisabled"
                           [class.cursor-not-allowed]="isNextDisabled"
                           [attr.tabindex]="isNextDisabled ? -1 : 0"
                           class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Inter-Region Distances-->
          @if (true //activeFormFields.includes(FormFields.InterRegionDistance)) {
            <div class="flex flex-column gap-2">
              <div class="flex-1">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.InterRegionDistance)"
                  [typingSpeed]="25"
                  [message]="interRegionText">
                </agt-terminal-communication>
              </div>

              @if (true //completedTyping[FormFields.InterRegionDistance]) {
                <div class="flex flex-column gap-3 mt-2" formArrayName="interRegionDistances">
                  @for (dist of interRegionDistancesFormArray.controls; track $index) {
                    <div [formGroupName]="$index" class="border-1 border-dashed border-green-900 pl-3 py-2 flex flex-column gap-2">
                      <div class="flex flex-column pb-3 pr-3 gap-2">
                        <div class="flex-1">
                          <label class="text-green font-bold uppercase underline">
                           Distance {{$index + 1}}
                          </label>
                        </div>
                        <div class="flex-1">
                          <div class="flex flex-column lg:flex-row gap-2">
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <label for="distanceFormRegionName">Region Name</label>
                                <input
                                  pInputText
                                  id="distanceFormRegionName"
                                  formControlName="distanceFormRegionName"
                                  placeholder="{{regionName}}"
                                  [readonly]="true"
                                  [fluid]="true"/>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1">
                              <p-floatlabel variant="on">
                                <label for="distanceFormRegionName">{{localSystemNamePlaceholder}}</label>
                                <input
                                  pInputText
                                  id="localSystem"
                                  [ngClass]="{'ng-invalid ng-touched': dist.hasError('localSystem')}"
                                  formControlName="localSystem"
                                  variant="filled"
                                  [fluid]="true"/>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1">
                              <p-floatlabel variant="on">
                                <label for="localSystemGlyphs">{{localSystemGlyphsPlaceholder}}</label>
                                <input
                                  pInputText
                                  id="localSystemGlyphs"
                                  formControlName="localSystemGlyphs"
                                  variant="filled"
                                  [fluid]="true"/>
                              </p-floatlabel>
                            </div>
                          </div>
                        </div>
                        <div class="flex-1">
                          <div class="flex flex-column lg:flex-row gap-2">
                            <input
                              pInputText
                              [ngClass]="{'ng-invalid ng-touched': dist.hasError('adjacentRegionName')}"
                              formControlName="adjacentRegionName"
                              placeholder="{{adjacentRegionNamePlaceholder}}"
                              variant="filled"
                              [fluid]="true"/>
                            <input
                              pInputText
                              [ngClass]="{'ng-invalid ng-touched': dist.hasError('adjacentRegionSystem')}"
                              formControlName="adjacentRegionSystem"
                              placeholder="{{adjacentRegionSystemNamePlaceholder}}"
                              variant="filled"
                              [fluid]="true"/>
                            <input
                              pInputText
                              formControlName="adjacentRegionSystem"
                              placeholder="{{adjacentRegionSystemGlyphsPlaceholder}}"
                              variant="filled"
                              [fluid]="true"/>
                          </div>
                        </div>
                        <div class="flex-initial w-full lg:w-3">
                          <p-inputnumber
                            formControlName="distance"
                            [ngClass]="dist.hasError('distance') ? 'ng-invalid ng-touched' : ''"
                            placeholder="{{interRegionDistancePlaceholder}}"
                            variant="filled"
                            [fluid]="true"
                            mode="decimal"
                            [min]="0"></p-inputnumber>
                        </div>
                        @if (!isReadOnly && $index >= 4) {
                          <div class="flex-initial align-content-center">
                            <p-button
                              icon="pi pi-trash"
                              severity="danger"
                              [text]="true"
                              (click)="removeDistance($index)"></p-button>
                          </div>
                        }
                      </div>
                    </div>
                  }

                  @if (true //!isReadOnly) {
                    <div class="flex justify-content-start">
                      <a (click)="addDistance()" class="terminal-link text-xs">
                        [+] ADD_ADDITIONAL_DATA_POINT
                      </a>
                    </div>
                  }
                </div>
              }
            </div>
          }

          <!-- Terminal Nano-style Footer -->
          <div
            class="terminal-footer mt-4 pt-2 border-double border-x-none border-bottom-none border-green-900 flex flex-wrap gap-4">
            @if (true //regionForm.valid) {

            }
            <div class="terminal-version ml-auto opacity-50 text-xs pt-1">
              v16.16.16-AGT
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
