<section class="relative container flex flex-column justify-content-center
    gap-4 py-4 my-6
    gradient-dark-to-light box-shadow-primary-lg
    border-1 border-round-2xl border-primary">
  <div class="flex flex-column box-shadow-primary-sm border-round-2xl">
    <header class=" surface-900 border-1 border-bottom-none border-noround-bottom border-round-2xl border-primary pb-2">
      <p-breadcrumb [model]="breadcrumbItems" [home]="home" class="ml-0"></p-breadcrumb>

      <div class="flex justify-content-between align-items-center">
        <div class="flex flex-column px-3">
          <div class="header-image flex justify-content-start align-items-start gap-2">
            <p-image
              class="region-logo mt-2"
              src="assets/img/game-entities/regions-orange.png"
              alt="AGT Logo"
              width="40"/>
            <h1 class="text-uppercase">
              {{ regionId ? (isReadOnly ? 'Region Archive' : 'Edit Region') : 'Register New Region' }}
            </h1>
          </div>
        </div>

        <div class="mr-4">
          @if (regionId && isReadOnly) {
            <p-button label="Edit Entry" icon="pi pi-pencil" (click)="toggleEdit()" severity="warn"/>
          } @else if (regionId && !isReadOnly) {
            <p-button label="Cancel" icon="pi pi-times" (click)="toggleEdit()" severity="secondary"/>
          }
        </div>

      </div>
    </header>
    <div
      [ngClass]="isReadOnly ? 'border-red' : 'border-green'"
      class="terminal bg-black-alpha-90
          border-3 border-double border-round-bottom-2xl
          gap-4 p-4">

      <form [formGroup]="regionForm">
        <div class="flex flex-column gap-2">

          <!--Initial Status Text-->

          <agt-terminal-communication
            (typingDone)="initialStatusTypingComplete($event)"
            [typingSpeed]="5"
            [success]="!isReadOnly"
            [showAnimation]="isNewRegion"
            [message]="consoleText">
          </agt-terminal-communication>

          <!--Galaxy Selection-->
          @if (hasInitialStatusText || !isNewRegion) {
            <agt-terminal-communication
              (typingDone)="requiredWarningTypingComplete($event)"
              [typingSpeed]="5"
              [success]="false"
              [showAnimation]="isNewRegion"
              [message]="requiredWarning">
            </agt-terminal-communication>
          }

          <!--Galaxy Select-->
          @if (hasRequiredWarningText || !isNewRegion) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Galaxy)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="selectGalaxyText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.Galaxy] || !isNewRegion) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column lg:flex-row gap-2">
                    <div class="flex-grow-1">
                      @if (!isReadOnly) {
                        <span class="text-secondary">*</span>
                      }
                      <p-floatlabel variant="on">
                        <p-select
                          input_id="galaxy"
                          formControlName="galaxy"
                          optionLabel="label"
                          optionValue="label"
                          [fluid]="true"
                          [disabled]="isReadOnly"
                          [options]="galaxyTypes"/>
                        <label for="galaxy">{{ galaxySelectPlaceholder }}</label>
                      </p-floatlabel>
                    </div>
                    @if (activeFormField === FormFields.Galaxy && isNewRegion) {
                      <div class="flex-initial text-right white-space-nowrap align-content-end">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Region Name-->
          @if (activeFormFields.includes(FormFields.RegionName) || !isNewRegion) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.RegionName)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="regionNameText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.RegionName] || !isNewRegion) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      @if (!isReadOnly) {
                        <span class="text-secondary">*</span>
                      }
                      <p-floatlabel variant="on">
                        <input
                          pInputText
                          id="regionName"
                          formControlName="regionName"
                          variant="filled"
                          [fluid]="true"
                          [disabled]="isReadOnly"
                          type="text"/>
                        <label for="regionName">{{ regionNamePlaceholder }}</label>
                      </p-floatlabel>
                    </div>
                    @if (activeFormField === FormFields.RegionName && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Survey Info-->
          @if (activeFormFields.includes(FormFields.SurveyInfo) || !isNewRegion) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.SurveyInfo)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="surveyInfoText" class="">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.SurveyInfo] || !isNewRegion) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column lg:flex-row gap-2">
                    <div class="flex-grow-1">
                      <div class="flex flex-column lg:flex-row gap-4">
                        <div class="flex-1 min-w-min">
                          @if (!isReadOnly) {
                            <span class="text-secondary">*</span>
                          }
                          <p-floatlabel variant="on">
                            <input
                              pInputText
                              id="surveyedBy"
                              class="min-w-max"
                              formControlName="surveyedBy"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                            <label for="surveyedBy">{{ surveyedByPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                        <div class="flex-1 min-w-min">
                          @if (!isReadOnly) {
                            <span class="text-secondary">*</span>
                          }
                          <p-floatlabel variant="on">
                            <p-datepicker
                              #datepicker
                              inputId="surveyDate"
                              formControlName="surveyDate"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              [iconDisplay]="'input'"
                              [fluid]="true"
                              [showIcon]="true"
                              [disabled]="isReadOnly"
                              (keydown.enter)="datepicker.toggle()"
                              (keydown.space)="datepicker.toggle()"></p-datepicker>
                            <label for="surveyDate">{{ surveyDatePlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                      </div>
                    </div>
                    @if (activeFormField === FormFields.SurveyInfo && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Galactic Coordinates-->
          @if (activeFormFields.includes(FormFields.GalacticCoordinates) || !isNewRegion) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-4 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.GalacticCoordinates)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="galacticCoordinatesText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.GalacticCoordinates] || !isNewRegion) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column gap-2">
                    <div class="flex-1">
                      <p-accordion
                        [ngClass]="{'invalid-terminal-field': galacticCoordinatesControl.invalid && galacticCoordinatesControl.dirty && galacticCoordinatesControl.touched}">
                        <p-accordion-panel value="0">
                          <p-accordion-header>Galactic Coordinates Instructions - READ CAREFULLY</p-accordion-header>
                          <p-accordion-content>
                            You obtain galactic coordinates by placing a SIGNAL BOOSTER on any planet or moon in a
                            system.
                            You
                            <span class="text-green-light font-bold">MUST</span>
                            provide galactic coordinates for this form.<br/><br/>
                            AAAA:BBBB:CCCC:xxxx are galactic coordinates When you drop a signal booster on a planet,
                            <span class="text-green-light font-bold">IGNORE AND DO NOT ENTER</span>
                            the first set of 4-5 characters. Enter the four sets of characters until
                            <span class="text-green-light font-bold">AFTER</span>
                            the first colon (:).<br/><br/>
                            Galactic Coordinates will
                            <span class="text-green-light font-bold">NEVER</span>
                            have a letter 'O", only the numeral Zero ('0'). Please type correctly.<br/><br/>
                            If you only have the glyphs for the system, go to this
                            <a href="https://nmsportals.github.io/" target="_blank">webtool</a>
                            to convert them into galactic coordinates.
                            <div class="border-1 border-green pb-0">
                              <p-image
                                class="terminal-image"
                                src="assets/img/menus/terminal-noisy-galactic-coordinate-display.png"
                                alt="Coordinates Display"
                                width="100%"></p-image>
                            </div>
                          </p-accordion-content>
                        </p-accordion-panel>
                      </p-accordion>
                    </div>
                    <div class="flex-1">
                      <div class="flex flex-column lg:flex-row gap-2">
                        <div class="flex-grow-1">
                          @if (!isReadOnly) {
                            <span class="text-secondary">*</span>
                          }
                          <p-floatlabel variant="on">
                            <label for="galacticCoordinates">{{ galacticCoordinatesPlaceholder }}</label>
                            <input
                              pInputText
                              id="galacticCoordinates"
                              formControlName="galacticCoordinates"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                          </p-floatlabel>
                        </div>
                        @if (activeFormField === FormFields.GalacticCoordinates && isNewRegion) {
                          <div class="flex-initial white-space-nowrap align-content-end text-right">
                            <a
                              (click)="!isNextDisabled && nextField()"
                              (keydown.enter)="!isNextDisabled && nextField()"
                              (keydown.space)="!isNextDisabled && nextField()"
                              [class.opacity-50]="isNextDisabled"
                              [class.cursor-not-allowed]="isNextDisabled"
                              [attr.tabindex]="isNextDisabled ? -1 : 0"
                              class="terminal-link">
                              // NEXT //
                            </a>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          <!--Legacy Name-->
          @if (activeFormFields.includes(FormFields.LegacyName) || !isNewRegion) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.LegacyName)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="legacyNameText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.LegacyName] || !isNewRegion) {
                <div class="flex-2 md:w-8 mt-2">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input
                        pInputText
                        id="legacyName"
                        formControlName="legacyName"
                        variant="filled"
                        placeholder="{{ legacyNamePlaceholder }}"
                        [fluid]="true"
                        [disabled]="isReadOnly"
                        type="text"/>
                    </div>
                    @if (activeFormField === FormFields.LegacyName && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Region Age-->
          @if (activeFormFields.includes(FormFields.RegionAge) || !isNewRegion) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.RegionAge)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="regionAgeText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.RegionAge] || !isNewRegion) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <p-inputnumber
                        inputId="regionAge"
                        formControlName="regionAge"
                        variant="filled"
                        placeholder="{{ regionAgePlaceholder }}"
                        [fluid]="true"
                        [disabled]="isReadOnly"
                        mode="decimal">
                      </p-inputnumber>
                    </div>
                    @if (activeFormField === FormFields.RegionAge && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Civilization Claim-->
          @if (activeFormFields.includes(FormFields.Civilization) || !isNewRegion) {
            <div class="flex flex-column md:flex-row gap-2">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Civilization)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="civilizationText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.Civilization] || !isNewRegion) {
                <div class="flex-2 md:w-8">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input
                        pInputText
                        id="civilization"
                        formControlName="civilization"
                        placeholder="{{ civilizationPlaceholder }}"
                        variant="filled"
                        [fluid]="true"
                        [disabled]="isReadOnly"
                        type="text"/>
                    </div>
                    @if (activeFormField === FormFields.Civilization && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Phantom System-->
          @if (activeFormFields.includes(FormFields.PhantomSystem) || !isNewRegion) {
            <div class="flex flex-column lg:flex-row gap-2">
              <div class="flex-1 lg:w-5">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.PhantomSystem)"
                  [typingSpeed]="10"
                  [showAnimation]="isNewRegion"
                  [message]="phantomSystemText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.PhantomSystem] || !isNewRegion) {
                <div class="flex-2 lg:w-7">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <input
                        pInputText
                        id="lowestKnownPhantomSystem"
                        formControlName="lowestKnownPhantomSystem"
                        placeholder="{{ phantomSystemPlaceholder }}"
                        variant="filled"
                        [fluid]="true"
                        [disabled]="isReadOnly"
                        type="text"/>
                    </div>
                    @if (activeFormField === FormFields.PhantomSystem && isNewRegion) {
                      <div class="flex-initial white-space-nowrap align-content-end text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Game Info-->
          @if (activeFormFields.includes(FormFields.GameInfo) || !isNewRegion) {
            <div class="flex flex-column gap-2">
              <div class="flex-1 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.GameInfo)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="gameInfoText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.GameInfo] || !isNewRegion) {
                <div class="flex-1">
                  <div class="flex flex-column md:flex-row gap-2">
                    <div class="flex-grow-1">
                      <div class="flex flex-column gap-4">
                        <div class="flex-1">
                          <div class="flex flex-column md:flex-row gap-4">
                            <div class="flex-1 align-content-end">
                              @if (!isReadOnly) {
                                <span class="text-secondary">*</span>
                              }
                              <p-floatlabel variant="on">
                                <p-select
                                  [fluid]="true"
                                  inputId="gameRelease"
                                  optionLabel="name"
                                  optionValue="name"
                                  formControlName="gameRelease"
                                  [disabled]="isReadOnly"
                                  [options]="gameReleases"/>
                                <label for="gameRelease">{{ gameReleasePlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <p-select
                                  [fluid]="true"
                                  inputId="gamePlatform"
                                  optionLabel="name"
                                  optionValue="name"
                                  formControlName="gamePlatform"
                                  [disabled]="isReadOnly"
                                  [options]="gamePlatformTypes"/>
                                <label for="gamePlatform">{{ gamePlatformPlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <p-select
                                  inputId="gameMode"
                                  [fluid]="true"
                                  optionLabel="name"
                                  optionValue="name"
                                  [disabled]="isReadOnly"
                                  formControlName="gameMode"
                                  [options]="gameModeTypes"/>
                                <label for="gameMode">{{ gameModePlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                          </div>
                        </div>
                        <div class="flex-1">
                          <div class="flex flex-column md:flex-row gap-4">
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <p-inputnumber
                                  inputId="gameReleaseVersionNumber"
                                  formControlName="gameReleaseVersionNumber"
                                  variant="filled"
                                  placeholder="{{ gameReleaseVersionNumberPlaceholder }}"
                                  [fluid]="true"
                                  [disabled]="isReadOnly"
                                  mode="decimal">
                                </p-inputnumber>
                                <label for="gameReleaseVersionNumber">{{ gameReleaseVersionNumberPlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <p-datepicker
                                  #datepicker
                                  inputId="gameReleaseDate"
                                  formControlName="gameReleaseDate"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate"
                                  [iconDisplay]="'input'"
                                  [fluid]="true"
                                  [showIcon]="true"
                                  [disabled]="isReadOnly"
                                  (keydown.enter)="datepicker.toggle()"
                                  (keydown.space)="datepicker.toggle()"></p-datepicker>
                                <label for="gameReleaseDate">{{ gameReleaseDatePlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                @if (activeFormField === FormFields.GameInfo && isNewRegion) {
                  <div class="flex-initial white-space-nowrap align-content-end text-right">
                    <a
                      (click)="!isNextDisabled && nextField()"
                      (keydown.enter)="!isNextDisabled && nextField()"
                      (keydown.space)="!isNextDisabled && nextField()"
                      [class.opacity-50]="isNextDisabled"
                      [class.cursor-not-allowed]="isNextDisabled"
                      [attr.tabindex]="isNextDisabled ? -1 : 0"
                      class="terminal-link">
                      // NEXT //
                    </a>
                  </div>
                }
              }
            </div>
          }

          <!--Notes-->
          @if (activeFormFields.includes(FormFields.Notes) || !isNewRegion) {
            <div class="flex flex-column mt-4 gap-2">
              <div class="flex-1 align-content-end">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Notes)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="notesText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.Notes] || !isNewRegion) {
                <div class="flex-1">
                  <div class="flex flex-column gap-2 justify-content-end">
                    <div class="flex-1">
                      <div class="flex flex-column">
                        <div class="flex-1 align-content-end">
                          <p-floatlabel variant="on">
                            <textarea
                              pTextarea
                              id="summaryNotes"
                              formControlName="summaryNotes"
                              [fluid]=true
                              [disabled]="isReadOnly"
                              rows="6"></textarea>
                            <label for="summaryNotes">{{ summaryNotesPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                        <div class="flex-1">
                          <div class="flex flex-column lg:flex-row gap-2 mt-2">
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <textarea
                                  pTextarea
                                  id="locationNotes"
                                  formControlName="locationNotes"
                                  [fluid]=true
                                  [disabled]="isReadOnly"
                                  rows="6"></textarea>
                                <label for="locationNotes">{{ locationNotesPlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                            <div class="flex-1 align-content-end">
                              <p-floatlabel variant="on">
                                <textarea
                                  pTextarea
                                  id="civilizedSpaceNotes"
                                  formControlName="civilizedSpaceNotes"
                                  [fluid]=true
                                  [disabled]="isReadOnly"
                                  rows="6"></textarea>
                                <label for="civilizedSpaceNotes">{{ civilizedSpaceNotesPlaceholder }}</label>
                              </p-floatlabel>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    @if (activeFormField === FormFields.Notes && isNewRegion) {
                      <div class="flex-1 white-space-nowrap text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Links-->
          @if (activeFormFields.includes(FormFields.Links) || !isNewRegion) {
            <div class="flex flex-column lg:flex-row gap-2 mt-6">
              <div class="flex-1 md:w-4">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.Links)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="linksText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.Links] || !isNewRegion) {
                <div class="flex-2 lg:w-8">
                  <div class="flex flex-column gap-2">
                    <div class="flex-1">
                      <div class="flex flex-column lg:flex-row gap-4">
                        <div class="flex-1">
                          <p-floatlabel variant="on">
                            <input
                              pInputText
                              id="wikiLink"
                              formControlName="wikiLink"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                            <label for="wikiLink">{{ wikiLinkPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                        <div class="flex-1">
                          <p-floatlabel variant="on">
                            <input
                              pInputText
                              id="legacyWikiLink"
                              formControlName="legacyWikiLink"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                            <label for="legacyWikiLink">{{ legacyWikiLinkPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                      </div>
                    </div>
                    <div class="flex-1">
                      <div class="flex flex-column md:mt-4 lg:flex-row gap-4">
                        <div class="flex-1">
                          <p-floatlabel variant="on">
                            <input
                              pInputText
                              id="externalLink"
                              formControlName="externalLink"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                            <label for="externalLink">{{ externalLinkPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                        <div class="flex-1">
                          <p-floatlabel variant="on">
                            <input
                              pInputText
                              id="videoLink"
                              formControlName="videoLink"
                              variant="filled"
                              [fluid]="true"
                              [disabled]="isReadOnly"
                              type="text"/>
                            <label for="videoLink">{{ videoLinkPlaceholder }}</label>
                          </p-floatlabel>
                        </div>
                      </div>
                    </div>
                    @if (activeFormField === FormFields.Links && isNewRegion) {
                      <div class="flex-1 white-space-nowrap text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Image Uploads-->
          @if (activeFormFields.includes(FormFields.ImageUploads) || !isNewRegion) {
            <agt-terminal-image-upload
              [title]="regionScreenshotExampleText"
              [maxFileSize]="maxFileSize"
              [exampleImage]="regionScreenshotExampleImage"
            ></agt-terminal-image-upload>
            <div class="flex flex-column gap-2 mt-4">
              <div class="flex-1">
                <agt-terminal-communication
                  (typingDone)="onTypingComplete(FormFields.ImageUploads)"
                  [typingSpeed]="25"
                  [showAnimation]="isNewRegion"
                  [message]="imageUploadText">
                </agt-terminal-communication>
              </div>

              @if (completedTyping[FormFields.ImageUploads] || !isNewRegion) {
                <div class="flex-auto">
                  <div class="flex flex-column md:flex-row gap-4">
                    <div class="flex-1 text-center pb-2 max-w-30rem">
                      <agt-terminal-image-upload
                        [title]="regionScreenshotExampleText"
                        [maxFileSize]="maxFileSize"
                        [exampleImage]="regionScreenshotExampleImage"
                      ></agt-terminal-image-upload>
                    </div>
                    <div class="flex-1 text-center pb-2 max-w-30rem">
                      <agt-terminal-image-upload
                        [title]="coordinateScreenshotExampleText"
                        [maxFileSize]="maxFileSize"
                        [exampleImage]="coordinateScreenshotExampleImage"
                      ></agt-terminal-image-upload>
                    </div>
                    @if (activeFormField === FormFields.ImageUploads && isNewRegion) {
                      <div class="flex-1 white-space-nowrap text-right">
                        <a
                          (click)="!isNextDisabled && nextField()"
                          (keydown.enter)="!isNextDisabled && nextField()"
                          (keydown.space)="!isNextDisabled && nextField()"
                          [class.opacity-50]="isNextDisabled"
                          [class.cursor-not-allowed]="isNextDisabled"
                          [attr.tabindex]="isNextDisabled ? -1 : 0"
                          class="terminal-link">
                          // NEXT //
                        </a>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }

          <!--Inter-Region Distances-->
          @if (activeFormFields.includes(FormFields.InterRegionDistance) || !isNewRegion) {
            <agt-inter-region-distance
              class="mt-4"
              [regionForm]="regionForm"
              [interRegionFormArray]="interRegionDistancesFormArray"
              [activeFormField]="activeFormField"
            ></agt-inter-region-distance>
          }

          <!-- Terminal Nano-style Footer -->
          <div
            class="terminal-footer mt-4 pt-2 border-double border-x-none border-bottom-none border-green-900 flex flex-wrap gap-4">
            <!-- Form Actions -->
            <div class="flex justify-content-end gap-2">
              <p-button
                label="Clear_Form"
                icon="pi pi-refresh"
                severity="secondary"
                (click)="clearForm()"
                [disabled]="isReadOnly"/>
              <p-button
                label="Submit_Survey"
                icon="pi pi-send"
                (click)="save()"
                [disabled]="regionForm.invalid || isReadOnly"/>
              <p-button
                label="REGISTER_NEW_REGION"
                icon="pi pi-file-plus"
                (click)="startNewRegion()"/>
            </div>
            <div class="terminal-version ml-auto opacity-50 text-xs pt-1">
              v16.16.16-AGT
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
