@use "../../../themes/variables" as *;
@import "../../../themes/terminal";

h1 {
  margin-top: .1rem;
}

header {
  background: linear-gradient(25deg, $color-surface-900 10%, $color-surface-800 50%, $color-surface-900 90%);
  text-shadow: 0 0 5px black;
}

.upload-icon {
  font-size: 5rem;
  color: $color-terminal-alpha-50;
}
