<section class="monthly-showcase section mb-4">
  <div class="container">
    <h2 class="text-center">November Showcase</h2>

    <div class="showcase-container mt-4">
      <div class="showcase-item showcase-left mt-3 mb-2">
        <a href="">
          <img src="assets/img/showcase-left.png" alt="Showcase Left" class="showcase-image">
        </a>
        <h3 class="showcase-title">{{ leftTitle }}</h3>
      </div>

      <div class="showcase-item showcase-right mt-3 mb-2">
        <a href="">
          <img src="assets/img/showcase-right.png" alt="Showcase Right" class="showcase-image">
        </a>
        <h3 class="showcase-title">{{ rightTitle }}</h3>
      </div>
      </div>
  </div>
</section>
