:host {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

:host(.preloader) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}

img.responsive {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
