<div class="flex flex-column gap-2">
  <div class="flex-1">
    <agt-terminal-communication
      (typingDone)="onTypingComplete(FormFields.InterRegionDistance)"
      [typingSpeed]="25"
      [showAnimation]="isNewRegion"
      [message]="interRegionText">
    </agt-terminal-communication>
  </div>

  @if (completedTyping[FormFields.InterRegionDistance] || !isNewRegion) {
    <div class="terminal" [formGroup]="regionForm">
      <div class="flex flex-column gap-3 mt-2" formArrayName="interRegionDistances">
        @for (dist of interRegionFormArray.controls; track $index) {
          <div
            [formGroupName]="$index"
            class="border-1 border-dashed border-green-900 pl-3 py-2 flex flex-column gap-2">
            <div class="flex flex-column pb-3 pr-3 gap-2">
              <div class="flex-1">
                <span class="text-green font-bold uppercase underline">
                  Distance {{ $index + 1 }}
                </span>
              </div>
              <div class="flex-1">
                <div class="flex flex-column lg:flex-row gap-2">
                  <div class="flex-1 align-content-end">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="distanceFormRegionName"
                        formControlName="distanceFormRegionName"
                        [readonly]="isReadOnly"
                        [fluid]="true"/>
                      <label for="distanceFormRegionName">{{ regionNamePlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="flex-1">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="localSystemName"
                        [ngClass]="{'ng-invalid ng-touched': dist.hasError('localSystemName')}"
                        formControlName="localSystemName"
                        variant="filled"
                        [fluid]="true"/>
                      <label for="distanceFormRegionName">{{ localSystemNamePlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="flex-1">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="localSystemGlyphs"
                        formControlName="localSystemGlyphs"
                        variant="filled"
                        [fluid]="true"/>
                      <label for="localSystemGlyphs">{{ localSystemGlyphsPlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex flex-column lg:flex-row gap-2">
                  <div class="flex-1">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="adjacentRegionName"
                        [ngClass]="{'ng-invalid ng-touched': dist.hasError('adjacentRegionName')}"
                        formControlName="adjacentRegionName"
                        variant="filled"
                        [disabled]="isReadOnly"
                        [fluid]="true"/>
                      <label for="adjacentRegionName">{{ adjacentRegionNamePlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="flex-1">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="adjacentRegionSystemName"
                        [ngClass]="{'ng-invalid ng-touched': dist.hasError('adjacentRegionSystemName')}"
                        formControlName="adjacentRegionSystemName"
                        variant="filled"
                        [disabled]="isReadOnly"
                        [fluid]="true"/>
                      <label
                        for="adjacentRegionSystemName">{{ adjacentRegionSystemNamePlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="flex-1">
                    <p-floatlabel variant="on">
                      <input
                        pInputText
                        id="adjacentRegionSystemGlyphs"
                        formControlName="adjacentRegionSystemGlyphs"
                        variant="filled"
                        [disabled]="isReadOnly"
                        [fluid]="true"/>
                      <label
                        for="adjacentRegionSystemGlyphs">{{ adjacentRegionSystemGlyphsPlaceholder }}</label>
                    </p-floatlabel>
                  </div>
                </div>
              </div>
              <div class="flex-1 w-full lg:w-4">
                <p-floatlabel variant="on">
                  <p-inputnumber
                    formControlName="distance"
                    inputId="distance"
                    [ngClass]="dist.hasError('distance') ? 'ng-invalid ng-touched' : ''"
                    variant="filled"
                    [fluid]="true"
                    mode="decimal"
                    [disabled]="isReadOnly"
                    [min]="0"></p-inputnumber>
                  <label for="distance">{{ interRegionDistancePlaceholder }}</label>
                </p-floatlabel>
              </div>
              @if (!isReadOnly && $index >= 4) {
                <div class="flex-initial align-content-center mt-2">

                  <a
                    (click)="removeDistance($index)"
                    (keydown.enter)="removeDistance($index)"
                    (keydown.space)="removeDistance($index)"
                    class="terminal-link text-xs"
                    [attr.tabindex]="0">
                    [-] REMOVE_DATA_POINT
                  </a>
                </div>
              }
            </div>
          </div>
        }

        @if (!isReadOnly) {
          <div class="flex justify-content-start">
            <a
              (click)="addDistanceAndRefresh()"
              (keydown.enter)="addDistanceAndRefresh()"
              (keydown.space)="addDistanceAndRefresh()"
              class="terminal-link text-xs"
              [attr.tabindex]="0">
              [+] ADD_ADDITIONAL_DATA_POINT
            </a>
          </div>
        }
      </div>
    </div>
  }
</div>
