<section class="mission section">
  <div class="container">
    <h2 class="text-center">Primary Mission</h2>

    <div class="mission-quote">
      <p>"An inclusive collaborative civilization to foster interplanactic travel"</p>
    </div>

    <div class="mission-description">
      <p>
        The Alliance of Galactic Travellers (AGT) is a civilization of independent Travellers,
        Companies and Foundations of players that drive exploration across the No Mans Sky universe.
        We explore, we document, we engage, and we educate to foster a community of shared discovery.
      </p>
    </div>
  </div>
</section>
