@use "../../../../themes/variables" as *;

.terminal-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.2);

  ::ng-deep .typed-cursor {
    margin-left: 4px;
    color: inherit;
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
  }
}

@keyframes typedjsBlink {
  50% { opacity: 0.0; }
}
